@charset "UTF-8";
/* Podstawowy arkusz stylów */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400&display=swap");
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

main {
  margin-top: 40px;
}

article {
  font-size: 18px;
  line-height: 1.65em;
  word-spacing: 3px;
}

article > header > h1 {
  margin-bottom: 0;
}

article > header > p {
  margin-top: 15px;
}

article a:hover {
  text-decoration: underline;
}

#page-header {
  border-bottom: 1px solid lightgray;
}

#thumbnail {
  width: 100%;
  margin-bottom: 5px;
}

.post-card {
  border: 1px solid transparent;
}

.post-card p {
  margin: 0;
  padding: 5px;
}

a > .post-card:hover {
  border: 1px solid black;
}

.category-card {
  border: 1px solid transparent;
}

a > .category-card:hover {
  border: 1px solid black;
}

/* NAWIGACJA */
#navigation {
  font-size: 40px;
  top: 0;
  z-index: 99;
  transition: top 0.3s;
  overflow: visible !important;
}

#mobile-navbar {
  width: 100%;
  transition: top 0.3s;
  position: fixed;
  top: 0;
  z-index: 98;
}

#navigation.sticky {
  position: fixed;
  width: 100%;
}

.w3-dropdown-click {
  float: none !important;
}

.w3-dropdown-click .w3-button {
  text-align: center !important;
}

.w3-dropdown-button {
  text-align: center;
}

#navigation .w3-dropdown-content .w3-bar-item {
  display: block;
  clear: both;
  width: 100%;
  /* width: auto !important; */
}

/* Ekran większy niż 600px */
@media (min-width: 600px) {
  #thumbnail {
    max-width: 300px;
    margin-right: 15px;
    margin-bottom: 15px;
  }
  .section-header {
    padding: 16px 24px;
  }
  .post-card {
    padding: 10px 30px;
  }
  .post-card h3 {
    text-align: left !important;
    padding-left: 0 !important;
    margin-bottom: 5px;
    margin-top: 0;
  }
  .post-card img {
    padding-right: 15px;
    padding-top: 8px;
  }
  /* Nawigacja staje się desktopowa */
  #navigation {
    display: block !important;
    font-size: inherit;
    height: inherit;
    position: static !important;
    padding-top: 0 !important;
    padding: 0 30px;
  }
  #navigation h1 {
    display: none;
  }
  #navigation .w3-bar-item {
    float: left;
    width: auto;
  }
  #navigation .w3-dropdown-content .w3-button {
    text-align: left !important;
  }
  #navigation .w3-dropdown-content,
  #navigation .w3-dropdown-click {
    min-width: auto;
    width: auto;
    float: left !important;
  }
  #navigation.sticky {
    position: fixed !important;
  }
  .sticky + .nav-gap {
    height: 40px;
  }
}

@media (max-width: 600px) {
  #navigation.sticky {
    top: 0 !important;
  }
}

/* Style dla dokumentu generowanego przez Asciidoctor */
/* Admonitions */
span.icon > .fa {
  cursor: default;
}

.admonitionblock td.icon {
  text-align: center;
  width: 80px;
}

.admonitionblock td.icon [class^="fa icon-"] {
  font-size: 2.5em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  cursor: default;
}

.admonitionblock td.icon .icon-note:before {
  content: "\f05a";
  color: #19407c;
}

.admonitionblock td.icon .icon-tip:before {
  content: "\f0eb";
  text-shadow: 1px 1px 2px rgba(155, 155, 0, 0.8);
  color: #111;
}

.admonitionblock td.icon .icon-warning:before {
  content: "\f071";
  color: #bf6900;
}

.admonitionblock td.icon .icon-caution:before {
  content: "\f06d";
  color: #bf3400;
}

.admonitionblock td.icon .icon-important:before {
  content: "\f06a";
  color: #bf0000;
}

.admonitionblock td.content {
  padding-left: 1.125em;
  padding-right: 1.25em;
  border-left: 1px solid #ddd;
  color: rgba(0, 0, 0, 0.6);
}

/* Header anchors */
h2:hover > a.anchor {
  visibility: visible;
}

a.anchor {
  position: absolute;
  z-index: 1001;
  width: 1.5ex;
  margin-left: -1.5ex;
  display: block;
  text-decoration: none !important;
  visibility: hidden;
  text-align: center;
  font-weight: normal;
}

a.anchor:before {
  content: "\00A7";
  font-size: 0.85em;
  display: block;
}

/* Circled callout numbers */
.conum[data-value] {
  display: inline-block;
  color: #fff !important;
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 1em;
  border-radius: 1em;
  text-align: center;
  font-size: .75em;
  width: 1.67em;
  height: 1.67em;
  line-height: 1.67em;
  font-family: "Open Sans", "DejaVu Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
}

.conum[data-value] * {
  color: #fff !important;
}

.conum[data-value] + b {
  display: none;
}

.conum[data-value]::after {
  content: attr(data-value);
}

pre .conum[data-value] {
  position: relative;
  top: -.125em;
}

b.conum * {
  color: inherit !important;
}

.conum:not([data-value]):empty {
  display: none;
}

/*# sourceMappingURL=style.css.map */